@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";

/* or any theme */
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 252 87% 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .link-text {
    @apply relative font-medium text-white;
  }

  .link-text::after {
    @apply content-[''] absolute left-0 -bottom-1 h-0.5 w-full bg-gray-600 transition-transform duration-200 scale-x-0 origin-left;
  }

  .link-text:hover::after {
    @apply scale-x-100 origin-left ease-in;
  }

  .link-text:not(:hover)::after {
    @apply origin-right ease-in;
  }



}

@layer components {
  .markdown {
    @apply text-lg leading-relaxed;
  }

  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }

  .markdown h1 {
    @apply text-4xl mt-6 leading-snug font-bold;
  }

  .markdown h2 {
    @apply text-3xl mt-12 leading-snug font-bold;
  }

  .markdown h3 {
    @apply text-2xl mt-8 mb-4 leading-snug font-bold;
  }

  .markdown h4 {
    @apply text-2xl mt-6 mb-4 leading-snug;
  }

  .markdown hr {
    @apply my-10;
  }

  .markdown a {
    @apply underline text-[#c27aff]
  }

  .markdown ul {
    @apply list-disc ml-5
  }

  .markdown ol {
    @apply list-decimal ml-5
  }

  .markdown code {
    @apply text-sm my-3 rounded-xl;
  }

  .markdown img {
    @apply my-3 rounded-xl;
  }

  .markdown blockquote {
    position: relative;
    background-color: #0d1117;
    border-left: #c27aff 4px solid;
    padding: 10px;
    padding-left: 20px;
    margin-block: 20px;
    font-style: italic;
  }

  .markdown blockquote p {
    margin: 0;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.2);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.8);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.animate-glow {
  animation: glow 3s infinite;
}