@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";

@theme {
  --color-light: #f2ede4;
  --color-light-secondary: #ada79c;
}

/* or any theme */
@layer base {
  html,
  body {
    @apply text-neutral-600 font-light bg-[#f2ede4] } h1, h2, h3 { @apply text-neutral-800 font-extrabold } button { cursor: pointer;
  }

  .container {
    @apply px-5 md:px-6 mx-auto } } @layer utilities { .animation-delay-2000 { animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .link-text {
    @apply relative font-medium;
  }

  .link-text::after {
    @apply content-[''] absolute left-0 -bottom-1 h-0.5 w-full bg-gray-600 transition-transform duration-200 scale-x-0 origin-left;
  }

  .link-text:hover::after {
    @apply scale-x-100 origin-left ease-in;
  }

  .link-text:not(:hover)::after {
    @apply origin-right ease-in;
  }

  .input {
    @apply flex h-10 border border-neutral-600 px-3 py-2 text-light placeholder:text-light-secondary focus-visible:outline-none focus-visible:border-2 duration-300;
  }
}

@layer components {
  .markdown {
    @apply text-lg leading-relaxed;
  }

  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }

  .markdown h1 {
    @apply text-4xl mt-6 leading-snug font-bold;
  }

  .markdown h2 {
    @apply text-3xl mt-12 leading-snug font-bold;
  }

  .markdown h3 {
    @apply text-2xl mt-8 mb-4 leading-snug font-bold;
  }

  .markdown h4 {
    @apply text-2xl mt-6 mb-4 leading-snug;
  }

  .markdown hr {
    @apply my-10;
  }

  .markdown a {
    @apply underline text-[#c27aff] } .markdown ul { @apply list-disc ml-5 } .markdown ol { @apply list-decimal ml-5 } .markdown code { @apply text-sm my-3 rounded-xl;
  }

  .markdown img {
    @apply my-3 rounded-xl;
  }

  .markdown blockquote {
    position: relative;
    background-color: #0d1117;
    border-left: #c27aff 4px solid;
    padding: 10px;
    padding-left: 20px;
    margin-block: 20px;
    font-style: italic;
  }

  .markdown blockquote p {
    margin: 0;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.2);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.8);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.animate-glow {
  animation: glow 3s infinite;
}

.leaflet-control-zoom {
  border: none !important;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

/* Customizing the buttons */
.leaflet-bar a {
  background-color: var(--color-neutral-800) !important;
  color: #ada79c !important;
  border-bottom: none !important;
}

/* Hover state */
.leaflet-bar a:hover {
  background-color: #262626 !important;
  /* Neutral-800 */
  color: #f2ede4 !important;
  /* Amber-500 */
}

.leaflet-control-attribution {
  background-color: var(--color-neutral-800) !important;
  opacity: 0.8 !important;
  color: var(--color-light) !important;
}
